body {
    /*    font-family: cursive,sans-serif;*/
    color: #666666;
}

a {
    text-decoration: none !important
}

/*start title box*/
.title-box::before {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.title-box {
    background: url(/images/about/download.jpg) center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0px;
    position: relative;
}

.title-box h2 {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    float: left;
    padding-top: 8px;
}

.title-box .breadcrumb {
    background: #b0b435;
    margin: 0px;
    border-radius: 0px;
    float: right;
    color: #000
}

.title-box .breadcrumb .breadcrumb-item {
    display: inline-block;
    color: #000;
}

.title-box .breadcrumb-item::before {
    color: #000000;
}

.title-box .breadcrumb .breadcrumb-item a {
    color: #fff;
    text-decoration: none
}

/*end title box*/
/*start about*/
.container .info img {
    max-width: 100%
}

.container .info a {
    background: #b0b435;
    padding: 15px;
    color: #fff;
    font-weight: 700;
}

.container .info a:active {
    color: #fff
}

/*end about*/
/*start expert*/
.container .expert h3::before {
    content: "";
    width: 93%;
    height: 5px;
    border-radius: 0px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 22px;
    margin: -10px;
    transition: all 0.5s ease 0s;
}

.container .expert h3 {
    color: #000
}

.container .expert p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 0px;
}

/*end expert*/
.our-team {
    transition: all 0.3s ease 0s;
    height: 370px
}

.our-team:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.our-team img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}

.our-team img:hover {
    opacity: 0.7
}

.fa-plus:before {
    content: "\f067";
}

.our-team .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #b0b435;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 32px;
}

.container .team .team-content {
    padding-left: 50px;
}

.container .team .team-content .title {
    font-size: 22px;
    border-bottom: 2px solid #b0b435;
}

.team-description {
    padding: 20px 0px
}

.team-description p {
    font-size: 13px;
    margin: 0px;
}

@media(max-width:1200px) {
    .team-description {
        padding: 20px 0px;
        margin-top: -60px;
    }
}

@media(max-width:992px) {
    .container .expert p {
        padding-bottom: 50px
    }

    .team-description {
        padding: 20px 0px;
        margin-top: 75px;
    }

    .hr {
        visibility: hidden
    }
}

@media(max-width:768px) {
    .container .expert h3 {
        font-size: 22px
    }

    .container .expert p {
        padding-bottom: 50px
    }

    .team-description {
        padding: 20px 0px;
        margin-top: -15px;
    }

    .hr {
        visibility: hidden
    }
}

@media(max-width:576px) {
    .container .expert p {
        padding-bottom: 50px;
    }
}
